---
name: renovate

on: # yamllint disable-line rule:truthy
  schedule:
    - cron: "15 * * * *"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: "${{ vars.BOT_ID }}"
          private-key: "${{ secrets.BOT_PRIVATE_KEY }}"

      - name: Checkout Code
        uses: actions/checkout@v5.0.1
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Run Renovate
        uses: renovatebot/github-action@v44.2.0
        env:
          LOG_LEVEL: debug
          RENOVATE_REPOSITORIES: "${{ github.repository }}"
        with:
          token: "${{ steps.app-token.outputs.token }}"
          renovate-version: latest
